*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
web/node_modules
web/magpie_bridge_j2n/node_modules
web/dist
web/magpie_bridge_j2n/dist
web/.vscode
